html {
    background-color:#161616;
    margin:0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y:visible;
    background-size:cover;
    background-image:url(assets/pic/crystal.png);
}

body {
    margin:0px;
    height:100vh;
}

body img {
    position:fixed;
}

nav img {
    height:50px;
    position:relative;
    bottom:4px;
    margin-left:20px;
}

nav {
    height:50px;
    background-color:#202020;
    position:sticky;
    top:0px;
    margin:0 0 0 0px;
    width:100vw;
    z-index:2;
}

#scraper {
    height:420px;
    background-color:#481071; /* 303d4b*/
    width:auto;
    color:white;
    margin:50px 100px;
    border-radius:20px;
}

#lefttextscraper {
    display:inline-block;
    margin-left:15%;
    margin-top:70px;
}

.desctext {
    font-size:26px;
    margin-top:0px;
}

#scraperdownload {
    padding: 20px 45px;
    background-color:#8022DD; /* 435b74 */
    font-size:20px;
    text-decoration: none;
    color:white;
    border-radius:10px;
    transition: ease 550ms;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    margin-right:0px;
    position:relative;
    left:2px;
    bottom:60px;
    
}

#scrapergithub {
    padding: 20px 25px;
    background-color:#010101;
    font-size:20px;
    text-decoration: none;
    color:white;
    border-radius:10px;
    transition: ease 550ms;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    margin-left:0px;
    position:relative;
    right:2px;
    transition: ease 150ms;
    bottom:60px;
}

#scrapergithub img {
    height:45px;
    position:relative;
    right:10px;
    top: 14px;
}

#scraperdownload:hover {
    box-shadow: 0 0 15px var(--clr);
    transition: ease 150ms;
}

#scrapergithub:hover {
    box-shadow: 0 0 15px var(--clr);
    transition: ease 150ms;
}

#marke {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:inline-block;
    color:white;
    font-size:26px;
    font-weight:700;
    position:relative;
    bottom:18px;
    text-decoration:none;
}

#scrimage {
    display:inline-block;
    position:relative;
    top:5%;
    height:100%
}

#scrimage img {
    height:330px;
    position:relative;
    left:180px;
    border-radius:15px;
    border: #161616 solid 3px; 
    box-shadow: 0 0 35px var(--clr)
}

#test1 {
    height:420px;
    background-color:#161616;
    width:auto;
    color:white;
    margin:20px 100px;
    border-radius:20px;
}

#lefttest1 {
    display:inline-block;
    margin-left:15%;
    margin-top:70px;
}

#testimage {
    display:inline-block;
    position:relative;
    bottom:20px;
}

#testimage img {
    height:330px;
    position:relative;
    left:160px;
    border-radius:15px;
    border: #161616 solid 3px; 
    box-shadow: 0 0 35px var(--clr)
}

.imgscraperresize {
    position:relative;
    bottom:10px;
}

#test1download {
    padding: 20px 45px;
    background-color:#333333;
    font-size:20px;
    text-decoration: none;
    color:white;
    border-radius:10px;
    transition: ease 550ms;
    position:relative;
    bottom:70px;
    left:2px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    
} 

#test1download:hover {
    box-shadow: 0 0 15px var(--clr);
    transition: ease 150ms;
}

#test1github:hover {
    box-shadow: 0 0 15px var(--clr);
    transition: ease 150ms;
}


#test1github {
    padding: 20px 25px;
    background-color:#010101;
    font-size:20px;
    text-decoration: none;
    color:white;
    border-radius:10px;
    transition: ease 550ms;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    margin-left:0px;
    position:relative;
    right:2px;
    transition: ease 150ms;
    bottom:70px;
}

#test1githubpng {
    position:relative;
    top:15px;
    height:45px;
    right:10px;
}

/* Mobile Page / Media Query*/

@media (max-width: 1600px) {

    body {
        height:auto;
        width:100vw;
    }

    #scraper, #test1 {
        display: block;
        text-align: center;
        height: auto;
        margin: 20px auto;
        padding: 20px;
        width: 90%; /* Ensure it doesn't take the full width to avoid edge cases */
    }

    #lefttextscraper, #lefttest1, #scrimage, #testimage {
        display: block;
        width: 100%;
        margin: 0 auto;
        transform: none;
        text-align: center;
    }

    #scrimage, #testimage {
        margin-top: 20px;
    }

    .imgscraperresize {
        margin: auto;
        position: relative;
        right: 0;
        left: 0;
    }

    #scrimage img, #testimage img {
        left: 0;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width:720px){
    #scrimage img, #testimage img {
        height:200px;
    }

    body {
        width:100vw;
        height:auto;
    }

    body img {
        background-repeat:repeat-y;
    }
}