.dot {
    border-radius: 50%;
    display: inline-block;
    background: rgb(160,68,255);
    background: linear-gradient(135deg, rgba(160,68,255,1) 0%, rgba(30,15,42,1) 100%);
    position: absolute;
    transform: translate(-50%, -50%);
}

body {
    background-color: #070A17;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

/* Make .topnav white with half opacity and make it sticky and in the foreground*/
nav {
    background-color: rgba(50, 50, 50, 0.6);
    height: 40px;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Center div with id title with fixed position */
#title {
    position: fixed;
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    font: 2em 'Arial';
    transform: translate(-50%, -50%);
}

#titleBtn {
    position: fixed;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 60px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 15px;
    text-align: center;
    top: 60%;
    background-color: blue;
    left: 50%;
    font: 1em 'Arial';
    transform: translate(-50%, -50%);
}