html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    background-image:linear-gradient(to right, #6D53DC, #DB8282);
    color: #797979

    /* Default gradient: 924DBF, 7338A0*/
}

.error-page {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,1);
    padding:120px 120px 70px 120px;
    text-align:center;
    border-radius: 30px;
    min-width:506px;
}

.error-page h1 {
    font-size:6em;
    margin-bottom:20px;
    margin-top: 1px;
    /* Gradient Text */
    background: linear-gradient(to left,#DB8282, #6D53DC);
    background-clip:text;
    -webkit-background-clip: text;
    color:transparent;
    font-weight:700;

    /* Default gradient: ce9df6, a42574*/

}

.error-page p {
    color:black;
}

.error-page a {
    padding:20px 30px;
    font-size:1.2em;
    border-radius: 12px;;
    background: linear-gradient(to left,#6D53DC, #DB8282);
    color:white; 
    margin: 38px 15px 18px 15px;
    text-decoration: none;    
    font-weight:600;
    transition: all 500ms ease;
    position:relative;
}

.error-page a::before {
    content: "";
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    background: linear-gradient(to left,#6D53DC, #DB8282);
    filter: blur(20px);
    z-index:-1;
}



@media (max-width: 1000px) {

    .error-page {
        min-width: 0;
    }
}